# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
env/
ENV/
app/venv/

# Environment Variables
.env

# Flask stuff
instance/
.webassets-cache

# Editor directories
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store

# Brain Artifacts
.gemini/
